<p>PornsOK.com is not a producer (primary or secondary) of any visual depiction of actual sexually explicit conduct appearing on this website.</p>
<p>All models, actors, actresses, and other persons that appear in any visual depiction of actual sexually explicit conduct appearing on this website were over the age of eighteen years at the time those depictions were created.</p>
<p>Records required by 18 U.S.C. § 2257 and 28 C.F.R. 75 are maintained by the appropriate custodian of records for content appearing on this site. For record inquiries, use the Contact page.</p>
